  <div id="<%= dom_id disciplina %>">
    <p>
      <strong>Nome:</strong>
      <%= disciplina.nome %>
    </p>

    <p>
      <strong>Anoletivo:</strong>
      <%= disciplina.anoLetivo %>
    </p>

    <p>
    <strong>Turma:</strong>
    <a>Letra </a>'<%= disciplina.turma.letra %>'
    <a>Ano </a>'<%= disciplina.turma.ano %>'
    <a>Ano Letivo </a>'<%= disciplina.turma.anoLetivo %>'
    </p>

</div>
