<div id="<%= dom_id atividade %>">
  <p>
    <strong>Titulo:</strong>
    <%= atividade.titulo %>
  </p>

  <p>
    <strong>Bimestre:</strong>
    <%= atividade.bimestre %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= atividade.descricao %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= atividade.data %>
  </p>

  <p>
    <strong>Disciplina:</strong>
    <a>Nome </a>'<%= atividade.disciplina.nome %>'
    <a>Ano Letivo </a>'<%= atividade.disciplina.anoLetivo %>'
  </p>
</div>
