<div id="<%= dom_id avaliacao %>">
  <p>
    <strong>Pontos:</strong>
    <%= avaliacao.pontos %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= avaliacao.observacoes %>
  </p>

  <p>
    <strong>Atividade:</strong>
    <a>Titulo </a>'<%= avaliacao.atividade.titulo %>'
    <a>Bimestre </a>'<%= avaliacao.atividade.bimestre %>'
  </p>

</div>
